#description{
    position: absolute;
        padding-left: 0%;
        margin-top: -180px;
        /* border: 3px solid #73AD21; */
}

#status {
    position: absolute;
    padding-left: 80%;
    margin-top: -160px;
    /* border: 3px solid #73AD21; */
}

#main{
    /* margin-top: -100px; */
}
